<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit Listing</title>
</head>
{% extends "carDealerLayout.html" %}
{% block content %}
<br><br>
<div class="card bg-light text-dark" style="width:56%; margin-left:23%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
    <div class="card-body text-center">
        <br><br>
        <center><h1 style="font-family: sans-serif;">EDIT LISTING</h1></center>
        <br><br>
        <form style="margin-left: 60px" method="post" action="{{ url_for('confirmCardealerEditProfile', cardealerId = data[3]) }}">
          <div class="form-group">
            <div class="row">
                <label for="inputUsername" style="padding-right: 40px; display: block; margin-left:39px; font-family: sans-serif;">Username</label>
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUsername" name="username" value="{{ data[0] }}" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <div class="row">
                <label for="inputEmail" style="padding-right: 40px; display: block; margin-left:39px; font-family: sans-serif;">Email</label>
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail" name="email" value="{{ data[1] }}" placeholder="Email">
            </div>
          </div>
            <div class="form-group">
            <div class="row">
                <label for="inputPassword" style="padding-right: 40px; display: block; margin-left:39px; font-family: sans-serif;">Password</label>
            </div>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" value="{{ data[4] }}">
            </div>
          </div>
          <div class="form-group">
            <div class="row">
                <label for="inputContact" style="padding-right: 40px; display: block; margin-left:39px; font-family: sans-serif;">Contact Number</label>
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputContact" name="contact" value="{{ data[2] }}" placeholder="Contact Number">
            </div>
          </div>
            <br><br>
            <button type="submit" class="btn mr-5" style="margin-right: 42px; font-family: sans-serif; background-color: #616E78; color:#FFFFFF">Edit</button>
            <a href="{{ url_for('carDealerProfile') }}" style="text-decoration:none;">
                <button type="button" class="btn ml-5" style="margin-right: 42px; font-family: sans-serif; background-color: #616E78; color:#FFFFFF">Cancel</button>
            </a>
        </form>
        <br>
    </div>
</div>
<br><br>
{% endblock content %}
</html>